<h1> Product for sale </h1>
<% @products.each do |product| %>
    <div class="well">
        <div class="row">
            <div class="sm-6">
                <h3><%= product.title %></h3>
            </div>
            <div class="col-sm-4">
                <div class="pull-right">

            </div>
        </div>
    </div>
<% end %>
